.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerWrapper {
  display: flex;
  background-color: #485461;
  background-image: linear-gradient(0deg, #485461 0%, #28313b 74%);
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 101;
}
.rightHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}
.rightHeaderItem {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.mainContainer {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 50px;
}
.inputWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: rgb(233, 233, 233);
}
.rowItem {
  padding: 10px;
}
.inputBox {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}
.button {
  height: 45px;
  border-radius: 5px;
  border: 1px solid rgb(206, 206, 206);
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
  font-size: 15px;
}

.tagContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  max-width: 100vw;
  align-items: center;
  justify-content: center;
}
.tagItem {
  display: flex;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: rgb(0, 3, 1);
  box-shadow: 0px 1px 5px black;
  min-width: 25px;
  align-items: center;
  justify-content: center;
}
.duplicate {
  background-color: rgb(224, 120, 120);
}

.unique {
  background-color: rgb(174, 224, 151);
}
.tagHeading {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: gray;
}

.movieWrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 5px;
  max-width: 100vw;
  align-items: flex-start;
  justify-content: center;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.movieCard {
  width: 232px;
  height: 380px;
  background-color: #fff;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: relative;
  cursor: pointer;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.eventDimension {
  position: absolute;
  right: 0;
  z-index: 100;
  padding: 3px;
  margin: 3px;
  background: #54d7fc;
}
.selectedIndicator {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  border: 5px solid #54d7fc;
}
.genreLabel {
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px;
  border-radius: 10px;
  border: 1px solid #54d7fc;
  /* box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); */
  font-size: 12px;
}
.actorName {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  justify-content: space-between;
}
.labelTag {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 15px;
  color: #292931;
}
.movieTitle {
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0px 0px 5px 5px;
}
.containerWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movieRow {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.selectedCard {
  /* border: 5px solid aqua; */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  transform: scale(1.07);
  background: #fff;
}

.movieVideoWrapper {
  display: flex;

  flex-direction: row;
}
.movieDetailWrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.movieDetailContainer {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 90vw;
  height: 0vh;
  margin: 10px;
  animation: bummer 0.4s linear;
  animation-fill-mode: forwards;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}
.movieName {
  font-size: 24px;
  margin-right: 35px;
}
@keyframes bummer {
  100% {
    height: 60vh;
  }
}

.videoPlayer {
  height: 100vh;
}
.closeButton {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top: 5px;
  padding: 2px;
  border: 1px solid red;
  border-radius: 20px;
  color: red;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .movieDetailContainer {
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 5px;
  }
  @keyframes bummer {
    100% {
      height: 100vh;
      width: 100vw;
    }
  }
}
